/* text formatting */
body {
	background-color:dimgray;
	text-align:center;
	font-family:Georgia;
}
h1 {
	color:gold
}
p {
	color:ghostwhite
}

/* navigation styline */
nav ul {
	list-style:none; /* remove bullets */
	margin:0;
	padding:0;
	display:flex; /* horizontal layout */
	justify-content:center; /* center nav layout */
}
nav li {
	padding:5px 15px; /* padding between list items */
}