/* text formatting */
body {
	background-color:dimgray;
	text-align:center;
	font-family:Georgia;
}
h1 {
	color:gold
}
p {
	color:ghostwhite
}

.header {
	/*display:flex;
	justify-content:flex-start;
	align-items:center;
	margin:0 auto;*/
	display:grid;
	grid-template-columns:auto auto;
	grid-gap:0;
	align-items:center;
}

.logo {
	width:30px;
	height:30px;
	justify-self:end;
}
/* navigation styling */
.nav a {
	text-decoration:none;
	color:gold
}
.nav a:visited {
	color:gold
}
.nav a:hover {
	color:ghostwhite
}
.nav ul {
	list-style:none; /* remove bullets */
	margin:0;
	padding:0;
	grid-column:2;
	display:flex; /* horizontal layout */
	justify-self:start;
}
.nav li {
	padding:5px 10px; /* padding between list items */
}

hr {
	margin:auto;
	width:50%
}